<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Qiita Article - chaitter</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <img src="../../assets/brand/cat.png" alt="" width="32" height="32">
          </div>
          <div class="col-2 text-center">
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
            <form class="form-inline my-2 my-lg-0" th:action="@{'/item'}" method="GET">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="user">
              <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Search</button>
            </form>
            <form th:action="@{/logout}" method="post">
              <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign Out"/>
            </form>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">World</a>
        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <div class="blog-post" th:each="items : ${items}">
            <h2 class="blog-post-title" th:text="${items.title}">Another blog post</h2>
            <p class="blog-post-meta" th:text="${items.body}">article</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{webjars/jquery/3.3.1/dist/jquery.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script th:src="@{webjars/jquery/3.3.1/dist/jquery.slim.min.js}"><\/script>')</script>
    <script th:src="@{webjars/bootstrap/4.1.3/site/docs/4.1/assets/js/vendor/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.1.3/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.1.3/site/docs/4.1/assets/js/vendor/holder.min.js}"></script>  
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
